name: Go

on:
  push:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build -v ./...

    #- name: Test
    #  run: go test -v ./...
    
    - name: ssh key generate
      run: |
        mkdir -p ~/.ssh/
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
      
      # REFERENCE: https://kahoo.blog/github-actions-php-deploy/
      # -av でディレクトリを再帰的にコピー＆詳細出力
      # -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
      # 警告メッセージを闇に消す
    - name: Deploy
      run: rsync -av -e "ssh -i ~/.ssh/id_ed25519 -p ${{ secrets.SSH_PORT }} -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no " ./ "${{ secrets.SSH_USER_NAME }}@${{ secrets.SSH_HOST }}:/home/toilet/g-sig"
